@import '../../stylesheets/variables';

.Layout {
  header {
    align-items: center;
    background-color: #4c188e;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: $header-height;
    justify-content: space-between;
    padding: 16px;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    span {
      margin-right: 8px;
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
      flex-wrap: wrap;
      height: 1.5 * $header-height;
      justify-content: center;

      button {
        padding: 4px 8px;
      }
    }
  }

  main {
    overflow: none;
    padding: 24px;
  }

  &--fullscreen {
    header {
      display: none;
    }

    main {
      padding: 0;
    }
  }
}
